*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Odibee Sans', cursive;
}
body {
	background-color: #2c7da0;
}
nav {
	background-color: #61a5c2;
	text-transform: uppercase;
	font-family:'Odibee Sans', cursive;
}

#home h1 {
	color: #ffb100;
	font-weight: bold;
}
#home h3 {
	color: #01161e;
	font-weight: bold;
}
#home p {
	color: #f4f0bb;
	font-weight: bold;
	font-size: 20px;
}
#project h1 {
	text-align: center;
	color: black;
	text-transform: uppercase;
	padding-top: 50px;
}
#art h1 {
	text-align: center;
	color: #ffb100;
	text-transform: uppercase;
	padding-top: 90px;
}

#service h1 {
	text-align: center;
	color: #ffb100;
	text-transform: uppercase;
}
#service h5 {
	text-align: center;
	color: #ffb100;
	text-transform: uppercase;
}
footer .footer {
	text-align: center;
}